:root {
  --gray: #E8E8EA;
  --white: #FFFFFF;
  --blue: #065AD8;
  --placeholder: #768194;
  --border: #dde0e7;
  --text-primary: #001032;
  --text-secondary: #393F50;
  --text-tertiary: #EBEBEB;
  --input: #FAFBFE;
  --success: #0bbe56;
  --error: #B00020;
}